body {
    font-family: Georgia, serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-image: url(./depositphotos_13732950-stock-photo-background-of-old-vintage-newspapers.jpg);
    color: white;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: rgb(39, 39, 39, 0.4);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px whitesmoke;
}

article {
    margin-bottom: 20px;
}

article h2 {
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 0 10px black;
}

article p {
    margin-bottom: 10px;
}

.read-more {
    color: whitesmoke;
    cursor: pointer;
    text-decoration: underline;
}

.read-more:hover {
    color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hidden {
    display: none;
}